@use "../globals/variables" as *;
@use "config" as *;

.primary--btn {
  background: map-get($primary-color, 100);
  padding: 1.6rem 6.4rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 1;
  @include transition(transform);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: top right;
    background: hsla(0 0% 0% / 0.06);
    z-index: -1;
    @include transition(transform);
  }
  &:hover::after {
    transform: scale(1);
    transform-origin: bottom left;
  }
  &:hover {
    transform: scale(0.9);
  }
}

.secondary--btn {
  background: map-get($secondary-color, 700);
  padding: 1.6rem 6.4rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.6rem;
  columns: map-get($secondary-color, 800);
  line-height: 2.4rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 1;
  @include transition(transform);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: bottom left;
    background: hsla(0 0% 0% / 0.05);
    z-index: -1;
    @include transition(transform);
  }
  &:hover::after {
    transform: scale(1);
    transform-origin: top right;
  }
  &:hover {
    transform: scale(0.9);
  }
}

.white--text {
  color: map-get($secondary-color, 200);
}
.faded--text {
  color: map-get($secondary-color, 300);
}
.dark--text {
  color: map-get($secondary-color, 100);
}
.dark--text-200 {
  color: map-get($secondary-color, 500);
}
.purple--text {
  color: map-get($primary-color, 100);
}

.title--text_small {
  font-size: 4rem;
  line-height: 6rem;
}
.title--text_big {
  font-size: 5.6rem;
  line-height: 8rem;
}

.customer_data--countries {
  @include flex(row, center, center);
}

.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}

.burger_menu {
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background: map-get($secondary-color, 400);
  @include transition(all);
}
