@use "../utils/config" as *;

.features__container {
  padding: 0 10rem;
  width: 100%;

  &_title {
    margin: 0 auto 4rem;
    max-width: 50%;

    & p {
      line-height: 4rem;
    }
  }

  .policy_personalization_img {
    position: relative;

    .features_vector {
      position: absolute;
      left: 90%;
      z-index: 3;
      min-width: 14.1rem;

      &_top {
        top: -7rem;
        transform: rotate(10deg);
      }
      &_bottom {
        bottom: -10rem;
        transform: rotate(5deg);
      }
    }
  }

  .features_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 6rem;
    row-gap: 1rem;
    &_title {
      p {
        margin-top: 0.4rem;
        margin-bottom: 3.2rem;
      }
    }
    &_flex {
      @include flex(row, flex-start, flex-start);
      gap: 1.6rem;
      margin-bottom: 2.4rem;

      .features_subtext {
        max-width: 50rem;
        h1 {
          line-height: 3.2rem;
          margin-bottom: 0.81rem;
        }
      }
    }
    .crypto_fiat_text {
      p {
        line-height: 3.2rem;
      }
    }
  }
}

@include responsive(tablet) {
  .features__container {
    padding: 0 5rem;
    &_title {
      max-width: 80%;
      margin-bottom: 5rem;

      & p {
        line-height: 4rem;
      }
    }
    .features_grid {
      &_title {
        h2 {
          font-size: 3.5rem;
          line-height: 4rem;
        }
        p {
          margin-top: 0.4rem;
          margin-bottom: 3.2rem;
        }
      }
      .features_vector {
        display: none;
      }
    }
  }

  @include responsive(mobile) {
    .features__container {
      &_title {
        max-width: 90%;

        & p {
          line-height: 3.5rem;
        }
      }
      .features_grid {
        grid-template-columns: 1fr;
        &_title {
          h2 {
            font-size: 3.5rem;
            line-height: 4rem;
          }
          p {
            margin-top: 0.4rem;
            margin-bottom: 3.2rem;
          }
        }
        .policy_personalization_img {
          grid-row: 4/5;
          .features_vector {
            display: none;
          }
        }
      }
    }
  }
}
