$primary-color: (
  100: hsl(221, 86%, 64%),
  200: hsl(240, 100%, 80%),
  300: hsl(220, 100%, 13%),
  400: hsl(220, 100%, 13%),
  500: hsl(221, 90%, 38%),
  600: hsl(228, 33%, 97%),
);

$secondary-color: (
  100: hsl(220, 100%, 13%),
  200: hsl(0, 0%, 100%),
  300: hsl(221, 28%, 53%),
  400: hsl(220, 100%, 8%),
  500: hsl(220, 100%, 8%),
  600: hsl(221, 39%, 11%),
  700: hsl(221, 100%, 96%),
  800: hsl(221, 86%, 64%),
);

$font-sizes: (
  14: 14,
  16: 16,
  18: 18,
  20: 20,
  22: 22,
  24: 24,
  26: 26,
  28: 28,
  30: 30,
  40: 40,
  56: 56,
);

$primary-font-family: Proxima Nova;
$secondary-font-family: New York Extra Large;
